body {
        background-image: url("images/abstract.jpg");
        background-repeat:no-repeat;
        background-size:1950px 1000px;
}

nav {
        margin-left: 7px; margin-top: 7px; margin-right: 7px;
}

H1 {
   font-family: 'Times New Roman';
   font-size: 36px;
   color: red;
}

H2 {
   font-family: arial,verdana,sans-serif;
   font-size: 24px;
   color: navy;
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 18px;
   color: white;
}

.content {
    margin: 5px;
}

.wrapper {
    position: relative;
    width: 75px;
    height: 100px;
}

#sec_back, #thr_back, #four_back, #two_hearts, #ace_spades, #jack_diamonds, #king_clubs {
    position: absolute;
}

.relative {
    position: relative;
}


/*
linear-gradient(to right, #E5E5BE, #003973);
.card {
    border-radius: 5px;
    width: 200px;
    margin: auto;
    text-align: center;
}
*/

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    border-radius: 5px 5px 0 0;
}

.card_container {
    padding: 2px 16px;
}

.my-btn {
  background-color: black;
  color: #fff;
}
