{% extends "base.html" %}

{% block content %}

<div class="content">
    <h1>I'de like to start off by welcoming you to my personal website</h1>
    <h2>I'll start off by telling you a little bit about myself.</h2>
    <p>I am a senior at the University of Nebraska-Lincoln, with a major in Finance and a minor in Management. Upon graduation I am looking to find a career in either the Finance or Technology fields.
    About a year ago I discovered a passion for computer programming, and since then I have been teach myself some of the languages that stuck out to me the most. I started with Python and then
    moved on to HTML5, CSS3, and JQuery.</p>
</div>

{% endblock %}









