{% extends "base.html" %}


{% block content %}
<body class="ride">
<h1>Welcome to Ride the Bus</h1>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Click to expand the rules
</button>
<div class="collapse" id="collapseExample">
    <div class="well">
        The rules of the game are quite simple. You will be making a series of guesses (4 in total). If you guess right, then you move on to the next part of the challenge, if you guess it wrong then
        you will drink. There are a few certain instances where you can get 'screwed' and you have to drink twice, this happens when the new card is the same value as one of the previous cards.
        It should also be noted that if you guess wrong, you must go back and start over at the beginning. P.S. Aces are High!
    </div>
</div>



<h4>For the first matter of business. You need to guess if the first card is going to be red or black (the suit color).</h4>


<div class="row">
    <div class="col-md-12">
        <div class="card-row">
            <div class="wrapper">
                <div id="ace_spades" class="playingCards">
                <div class="card rank-a spades">
                    <span class="rank">A</span>
                    <span class="suit">&spades;</span>
                </div>
            </div>
                <div id="back_card" class="card">
                    <div class="playingCards">
                    <div class="card back">*</div>
                    </div>
                </div>
            </div>
            <h4><b>Guess the color</b></h4>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" id="switch_color" class="btn btn-danger">Red</button>
                    <button type="button" id="switch_color" class="btn my-btn">Black</button>
                </div>
        </div>
    </div>
</div>

<br><br>

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Winner</strong> Congrats player, you guessed the color right.
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Loser</strong> Well crud, it looks like you picked the wrong color.
</div>


<h4>Okay, now that you have guess that color correctly, you must guess whether the value of the second card will be higher or lower than the value of the first, Ace is high.</h4>


<div class="row">
    <div class="col-md-12">
        <div class="card-row">
            <div class="playingCards">
                <div class="card rank-a spades">
                    <span class="rank">A</span>
                    <span class="suit">&spades;</span>
                </div>
            </div>
            <div class="wrapper">
                <div id="two_hearts" class="playingCards">
                    <div class="card rank-2 hearts">
                        <span class="rank">2</span>
                        <span class="suit">&hearts;</span>
                    </div>
                </div>
                <div id="sec_back" class="card">
                    <div class="playingCards">
                    <div class="card back">*</div>
                    </div>
                </div>
            </div>
            <h4><b>Guess High or Low</b></h4>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" id="high_low" class="btn btn-danger">High</button>
                <button type="button" id="high_low" class="btn btn-success">Low</button>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Winner</strong> Atta boy (or girl)!!! Thats two in a row.
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Wrong</strong>Good thing i'm not paying you to win, because you got that one wrong.
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Double Wrong!!!</strong>Wow, now that sucks, since it was the same value as the first you must drink twice and restart.
</div>


<h4>Okay, so now it is time to guess whether you believe the third card is in between or outside of the previous two card values.</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card-row">
            <div class="playingCards">
                <div class="card rank-a spades">
                    <span class="rank">A</span>
                    <span class="suit">&spades;</span>
                </div>
            </div>
            <div class="playingCards">
                <div class="card rank-2 hearts">
                    <span class="rank">2</span>
                    <span class="suit">&hearts;</span>
                </div>
            </div>
            <div class="wrapper">
                <div id="jack_diamonds" class="playingCards faceImages">
                    <div class="card rank-j diams">
                        <span class="rank">J</span>
                        <span class="suit">&diams;</span>
                    </div>
                </div>
                <div id="thr_back" class="card">
                    <div class="playingCards">
                    <div class="card back">*</div>
                    </div>
                </div>
            </div>
            <h4><b>Guess the color</b></h4>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" id="in_out" class="btn btn-danger">Inside</button>
                    <button type="button" id="in_out" class="btn btn-success">Outside</button>
                </div>
      </div>
    </div>
</div>


<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Winner</strong> Atta boy (or girl)!!! Thats two in a row.
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Wrong</strong>Good thing i'm not paying you to win, because you got that one wrong.
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Double Wrong!!!</strong>Wow, now that sucks, since it was the same value as the first you must drink twice and restart.
</div>


<h4>Your finally here, the final test, which also happens to be the hardest. Guess the Suit of the fourth and final card</h4>


<div class="row">
    <div class="col-md-12">
        <div class="card-row">
            <div class="playingCards">
                <div class="card rank-a spades">
                    <span class="rank">A</span>
                    <span class="suit">&spades;</span>
                </div>
            </div>
            <div class="playingCards">
                <div class="card rank-2 hearts">
                    <span class="rank">2</span>
                    <span class="suit">&hearts;</span>
                </div>
            </div>
            <div class="playingCards faceImages">
                <div class="card rank-j diams">
                    <span class="rank">J</span>
                    <span class="suit">&diams;</span>
                </div>
            </div>
            <div class="wrapper">
                <div id="king_clubs" class="playingCards faceImages">
                    <div class="card rank-k clubs">
                        <span class="rank">K</span>
                        <span class="suit">&clubs;</span>
                    </div>
                </div>
                <div id="four_back" class="card">
                    <div class="playingCards">
                    <div class="card back">*</div>
                    </div>
                </div>
            </div>
            <h4><b>Guess the color</b></h4>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" id="suit_color" class="btn btn-danger">Diamonds</button>
                    <button type="button" id="suit_color" class="btn btn-danger">Hearts</button>
                    <button type="button" id="suit_color" class="btn my-btn">Spades</button>
                    <button type="button" id="suit_color" class="btn my-btn">Clubs</button>
                </div>
        </div>
    </div>
</div>


<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Winner Winner Chicken Dinner!!!!</strong> Congrats, you have won the game and are now off the bus.
</div>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>OUCH!!!</strong>So close but yet so far.
</div>
</body>
<!--
$("#cardId").toggleClass("flip");

card click event
$('.card').click(function(){
	var card = $(this);
	card.toggleClass('open');
	setTimeout(function(){
		card.toggleClass('opened');
	},300);
});

function flip() {
    $('.card').toggleClass('flipped');
}
$( document ).ready(function() {
    $("button#switch_color").on("click", function() {
        $("div#bingo").fadeOut("slow");
        $("div#aspad").toggleClass("hide");
    });
});
-->

<script>
$(document).ready(function() {
    $("button#switch_color").on("click", function() {
        $("div#back_card").fadeOut("slow");
    });
    $("button#high_low").on("click", function() {
        $("div#sec_back").fadeOut("slow");
    });
    $("button#in_out").on("click", function() {
        $("div#thr_back").fadeOut("slow");
    });
    $("button#suit_color").on("click", function() {
        $("div#four_back").fadeOut("slow");
    });
});



</script>
{% endblock %}
