{% extends "base.html" %}

{% block content %}

        <!-- Flash messages -->

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages%}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="main">
                <nav>
                    <a href="{{ url_for('index') }}">All</a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('stream', username=current_user.username) }}">Following</a>
                    <a href="{{ url_for('post') }}" class="new">Create New Post</a>
                    {% endif %}
                </nav>
                {% for post in stream %}
                <article>
                    <h2>
                        <a href="{{ url_for('stream', username=post.user.username) }}">{{ post.user.username }}</a>
                    </h2>
                    <i class="clock"></i><time data-time="{{ post.timestamp }}" class="distime" datetime="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
                    {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</time> <a href="{{ url_for('view_post', post_id=post.id) }}" class="view">View</a>
                    <div class="post">
                        {{ post.content }}
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>

{% endblock %}
