{% extends "base.html" %}
{% block body_class %}home_main{% endblock %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="card-row">
            <div class="wrapper">
                <div id="abe">
                    <div id="first_card" class="card">
                        <span id="span1"></span>
                        <span id="span2"></span>
                    </div>
                </div>
                <div id="back_card1" class="card">
                    <div class="playingCards">
                        <div class="card back">*</div>
                    </div>
                </div>
                    <button type="button" id="black" class="btn my-btn">Black</button>
                    <button type="button" id="red" class="btn btn-danger">Red</button>
                <div id="readout1">
                    <p></p>
                </div>
            </div>
            <div class="wrapper">
                <div id="ben">
                    <div id="second_card" class="card">
                        <span id="span3"></span>
                        <span id="span4"></span>
                    </div>
                </div>
                <div id="back_card2" class="card">
                    <div class="playingCards">
                        <div class="card back">*</div>
                    </div>
                </div>
                    <button type="button" id="draw2" class="btn btn-success">Draw 2nd Card</button>
                <div id="readout2">
                    <p></p>
                </div>
            </div>
            <div class="wrapper">
                <div id="carl">
                    <div id="third_card" class="card">
                        <span id="span5"></span>
                        <span id="span6"></span>
                    </div>
                </div>
                <div id="back_card3" class="card">
                    <div class="playingCards">
                        <div class="card back">*</div>
                    </div>
                </div>
                    <button type="button" id="draw3" class="btn btn-success">Draw 3rd Card</button>
                <div id="readout3">
                    <p></p>
                </div>
            </div>
            <div class="wrapper">
                <div id="dane">
                    <div id="fourth_card" class="card">
                        <span id="span7"></span>
                        <span id="span8"></span>
                    </div>
                </div>
                <div id="back_card4" class="card">
                    <div class="playingCards">
                        <div class="card back">*</div>
                    </div>
                </div>
                    <button type="button" id="draw4" class="btn btn-success">Draw last card</button>
                <div id="readout4">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/view.js"></script>

{% endblock %}
data.face.name + ' of ' + data.suit.name
